<div class="container">
<h1>Add a nice comment about {{name}}</h1>
<form class="form newComment" action='/{{groupType}}/{{name}}' method="post">
  
  <label for="commenter" class="form-item">
    Your Name:
    <input type="text" name="commenter" value="">
  </label>
  
  <label for="comment" class="form-item">
    Comment:
    <input type="text" name="comment" value="">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>

</div>