<div class="container">

<form class="form newComment" action=("/"+{{groupType}}+"/"+{{name}}) method="post">
  
  <label for="name" class="form-item">
    Your Name:
    <input type="text" name="name" value="">
  </label>
  
  <label for="breed" class="form-item">
    Comment:
    <input type="text" name="breed" value="">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>

</div>