<footer class="footer dark-footer">
    <div class="content has-text-centered has-text-white">
        <p>
        <strong class="has-text-white">Bloody Legends</strong>, made with <span class="icon has-text-danger">
                <i class="fas fa-heart"></i>
                </span> by Joseph, Alice, Bas and Charlie.
            <br>                              
                The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        <br>
        <p>Free Hong Kong</p>
        </p>
        <img src='/images/hk.png' style="width:64px;">
    </div>
</footer>