<header>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand dark-nav">
                <a class="navbar-item" href="/">
                    <p class="has-text-white is-size-4"><strong>Bloody Legends</strong></p>
                </a>
            
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div id="navbarBasicExample" class="navbar-menu dark-nav">
                <div class="navbar-start">
                <a class="navbar-item has-text-white">
                    Home
                </a>
            
                <a class="navbar-item has-text-white">
                    Student
                </a>

                <a class="navbar-item has-text-white">
                    Staff
                </a>
            
                </div>

            </div>
    </nav>
</header>