<div class="container dark-container">
        <header>
            <nav class="navbar is-black" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand dark-nav">
                        <a class="navbar-item" href="/">
                            <p class="has-text-white is-size-4"><strong>
                                <span>Bloody Legends</span>
                            </strong></p>
                        </a>
                    
                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        </a>
                    </div>
                    
                    <div id="navbarBasicExample" class="navbar-menu dark-nav">
                        <div class="navbar-start">
                        <a class="navbar-item has-text-white">
                            Home
                        </a>
                    
                        <a class="navbar-item has-text-white">
                            Student
                        </a>

                        <a class="navbar-item has-text-white">
                            Staff
                        </a>
                    
                        </div>

                    </div>

                    
                </nav>
        </header>

        <section class="section has-text-white less-dark-bg">
            <div class="container">
                <h1 class="title has-text-white is-size-1">
                    Real recognize real
                </h1>
                <hr class="smoll-divider">
                <p class="has-text-lightest">
                    Has someone been a bit of a blody legend? Let them know! Find a student or staff member, and tell the <span class="strikethrough-text">world</span> cohort about it.
                </p>
            </div> 
        </section>


        
<section class="section has-text-white">
        <div class="columns">
            <div class="column">
                <div class="container">
                    <h1 class="title has-text-white is-size-3">
                        Students
                    </h1>
        <hr class="smoller-divider">

                    <div class="lp-image-container">
                        <img src='public/images/bg-photo2.png'>
                        <div c<section class="section has-text-white">
        <div class="columns">
            <div class="column">
                <div class="container">
                    <h1 class="title has-text-white is-size-3">
                        Students
                    </h1>
        <hr class="smoller-divider">

                    <div class="lp-image-container">
                        <img src='public/images/bg-photo2.png'>
                        <div class="lp-image-button">
                            <button class="button is-black is-inverted is-outlined">View Students</button>    
                        </div>
                    </div>
                </div> 
            </div>
            <div class="column">
                    <div class="container">
                            <h1 class="title has-text-white is-size-3">
                                Staff
                            </h1>
        <hr class="smoller-divider">

                            <div class="lp-image-container">
                                <img src='public/images/bg-photo.png'>
                                <div class="lp-image-button">
                                    <button class="button is-black is-inverted is-outlined">View Staff</button>    
                                </div>
                            </div>
                        </div>
            </div>
        </div>
</section>
lass="lp-image-button">
                            <button class="button is-black is-inverted is-outlined">View Students</button>    
                        </div>
                    </div>
                </div> 
            </div>
            <div class="column">
                    <div class="container">
                            <h1 class="title has-text-white is-size-3">
                                Staff
                            </h1>
        <hr class="smoller-divider">

                            <div class="lp-image-container">
                                <img src='public/images/bg-photo.png'>
                                <div class="lp-image-button">
                                    <button class="button is-black is-inverted is-outlined">View Staff</button>    
                                </div>
                            </div>
                        </div>
            </div>
        </div>
</section>
